.tm_alertMsg {
    position: fixed;
    top: 19%;
    right: 0; left:0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.tm_alertMsg .tm_alert {
    border-radius: 0;
    position: relative;
    padding: 10px 15px;
}
span.tm_alert_progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width:100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
}
.tm_alertMsg .tm_alert-danger {
    background-color: #bd3431;
    color: #fff;
}
.tm_alertMsg .tm_alert-info {
    background-color: #28828f;
    color: #fff;
}
.tm_alertMsg .tm_alert-warn {
    background-color: rgba(255, 129, 0, 0.59);
    color: #fff;
}
.tm_alertMsg .tm_alert-success {
    background-color: #51a351;
    color: #fff;
}
.tm_tm-error:before {
    content:"☢";
}
.tm_tm-success:before {
    content:"☑";
}
.tm_tm-info:before {
    content:"i";
}
.tm_tm-warn:before {
    content:"⚠";
}